@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap');
/* @charset "UTF-8"; */

body {
    background-color: rgb(54, 54, 54);
    color: rgb(246, 243, 243);
}
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), 0.3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x); */
    padding: 0;
}
.container-fluid {
    background-image: linear-gradient(to bottom right, rgb(105, 116, 234), rgb(171, 93, 138));
    padding: 0;
    margin: 0;
    /* display: flex;
    justify-content: space-between; */
    /* position: fixed; */
}
.radius {
    border-radius: 12px;
    height: 36px;
    font-size: 13px;
}
.disIcon {
    height: 26px;
    margin-left: 15px;
    margin-bottom: 2px;

}
.navbar-toggler {
    border: none;
    box-shadow: 0;
    visibility: hidden;
}
.iconNav {
    visibility: visible;
}
.lightColor  {
    color: rgb(255, 255, 255);
}
.lightColor:hover {
    color: rgb(54, 54, 54) !important;
}
.lightColor:visited {
    color: rgb(255, 255, 255);
}
.navbar-nav {
    margin-left: 15px;
}
.txt {
    margin-top: 27px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    color: rgb(246, 243, 243);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 80%;

}
h1 {
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -1px;
}
/* .img {
    display: flex;
    align-items: center;
} */
/* .grid {
    display: flex;
} */
.creature {
    height: 270px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.nitroBasic {
    background-image: linear-gradient(to bottom left, rgb(105, 116, 234), rgb(133, 71, 198));
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    width: 90%;
    height: 275px;
    display: flex;
    /* row-gap: 1px; */
}

.nitt {
   margin: auto;
   width: 80%;
   height: 80%;
}
.nitro2 {
    background-image: linear-gradient(to bottom right, rgb(133, 71, 198), rgb(171, 93, 138));
    border-radius: 15px;
    margin-top: 29px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    height: 365px;
    display: flex;
}
h2 {
    margin-bottom: 19px;
}
.button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: rgb(246, 243, 243);
    border: 2px solid rgb(133, 71, 198);
    color: rgb(105, 116, 234);
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .bbbt {
    border: 2px solid rgb(171, 93, 138);
    color: rgb(133, 71, 198);
  }
  .button:hover {
    color: rgb(246, 243, 243);
    background: rgb(133, 71, 198);
  }
  .bbbt:hover {
    background: rgb(171, 93, 138);
  }
  .button:active {
    letter-spacing: 2px;
  }
  .button:after {
    content: "SUBSCRIBE";
  }
.social {
    margin-top: 50px;
    margin-left: 10px;
}
.socialMedia {
    margin-left: 20px;
}
.hr {
    /* background-color: #1ECD97; */
    color:  rgb(105, 116, 234);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
    }
    .noDeco {
        text-decoration: none;
        color: rgb(246, 243, 243);
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        font-size: 20px;
    }
    .lastDiv {
        display: flex;
        justify-content: right;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
@media screen and (max-width: 370px) {
    .creature {
        height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
   
}
@media screen and (min-width: 600px){
}